absl-py==0.11.0
astor==0.8.1
backports.weakref==1.0rc1
bleach==1.5.0
cached-property==1.5.2
click==7.1.2
enum34==1.1.6
Flask==0.12.2
funcsigs==1.0.2
futures==3.1.1
gast==0.4.0
grpcio==1.33.2
h5py==3.1.0
html5lib==0.9999999
itsdangerous==1.1.0
Jinja2==2.11.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==2.6.9
MarkupSafe==1.1.1
mock==2.0.0
numpy==1.19.4
pbr==3.1.1
protobuf==3.14.0
six==1.10.0
tensorboard==1.13.1
tensorflow==1.13.2
tensorflow-estimator==1.13.0
tensorflow-serving-api==1.9.0
tensorflow-tensorboard==0.1.6
termcolor==1.1.0
Werkzeug==0.12.2
